.wrapper-content{
    margin: 63px auto 30px auto;
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.link-logo{
    background: linear-gradient(to right, #000000 0%, #000000 29.5%, #4BCAFF 29.5%, #4BCAFF 100%);
    font-size: 80px;
}

.gradient{
    color: #111;
    background: #fff;
    mix-blend-mode: lighten;
}

.wrapper-top-menu{
    margin-top: 38px;
    background-color: #35444F;
}

.top-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.items-top-menu{
    border-left: 1px solid #FFFFFF;
}

.items-top-menu:last-child{
    border-right: 1px solid #FFFFFF;
}

.items-top-menu:hover{
    background: #222F3A;
}

.link-top-menu{
    display: flex;
    margin: 26px 38px 19px 38px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.main-wrapper{
    margin-top: 48px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}

.left-menu{
    width: 344px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #63696E;
}

.items-left-menu{
    padding: 26px 0 26px 44px;
}

.items-left-menu:last-child {
    padding-bottom: 30px;
}

.items-left-menu:hover{
    background-color: #DBDBDB;
}

.link-left-menu{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.link-left-menu:hover{
    padding-left: 40px;
    color: #000000;
}

.wrapper-image{
    width: 885px;
    margin-bottom: 37px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #63696E;
    display: flex;
    justify-content: center;
    overflow:hidden;
}

.main-image{
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-bottom: 73px;
    transition: transform 0.5s;
}

.wrapper-image:hover img {
    transform: scale(1.15);
}

.main-text{
    max-width: 885px;
    margin-top:34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer-wrapper{
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    align-items:center;
}

.bottom-menu{
    display: flex;
    flex-direction: row;
    margin: 20px auto 20px 40px;
}

.items-bottom-menu{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.items-bottom-menu:last-child{
    margin-right: 0;
}

.link-bottom-menu{
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.link-bottom-menu:hover{
    color:#3181A6;
    text-decoration-line: underline;
}

.footer-text{
    margin-right: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
