@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-image: url('../image/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
}

.wrapper{
    width: 1028px;
    margin: 0 auto auto auto;
    color:  white;
}

.wrapper.header{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.link{
    color: #FFFFFF;
}

.link.site-logo{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.castle{
    width: 53px;
    height: 47px;
    background-image: url('../image/logo.png');
    background-size:cover;
}

.milan-holidays{
    margin-left: 8px;
    text-transform: uppercase;
}

.milan{
    font-size: 29px;
    line-height: 29px;
}

.holidays{
    font-size: 18px;
    line-height: 18px;
}

.header-info{
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.link.phone{
    margin-top: 19px;
}

.wrapper.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
}

.main-item{
    width: 300px;
    height: auto;
    color: white;
    font-weight: 400;
}

.image{
    height: 220px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 10px;
    line-height: 10px;
}

.image.first{
    background-image: url('../image/shopping-tours.png');
}

.image.second{
    background-image: url('../image/sightseeing-tours.png');
}

.image.third{
    background-image: url('../image/food-tours.png');
}

.image.fourth{
    background-image: url('../image/bars-nightlife.png');
}

.image.fifth{
    background-image: url('../image/art-architecture.png');
}

.image.sixth{
    background-image: url('../image/walking-tours.png');
}

.text-main{
    margin-top: 20px;
    margin-bottom: 37px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}


.price-wrapper{
    background-color: #F26522;
    padding: 7px 14px 12px 16px;
    opacity: 0;
}

.price,.view{
    display: flex;
    justify-content: space-between;
}

.price{
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}

.view{
    font-size: 14px;
    line-height: 14px;
}


.wrapper.footer{
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.link.site-logo:hover{
    color: #F26522;
}

.link.site-logo:hover .castle{
    background-image: url('../image/logo2.png');
}

.link.email:hover{
    Color: #F26522;
}

.link.phone:hover{
    Color: #F26522;
}

.main-item:hover .price-wrapper{
    opacity: 1;
}

.main-item:hover .text-main{
    Color: #F26522;
}

.view:after{
    content: "\276F";
    margin-left: 16px;
}

