@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


body{
    background-image: url('../image/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

a{
    color: #FFFFFF;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    padding-left: 79px;
    padding-right: 79px;
}

.header-link.site-logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.header-panel{
    display: flex;
    align-items: center;
}

.header-element:first-child{
    margin-right: 27px;
}

.header-element:nth-child(2){
    margin-right: 24px;
}

.header-element:nth-child(3){
    margin-right: 25px;
}

.header-text{
    margin-left: 27px;
}

header:hover{
    background: rgba(0, 0, 0, 0.45);
}

.header-link.site-logo:hover, .header-link.login:hover , .header-link.sign:hover  {
    color: #01813F;
}

.svg-header.calendar:hover, .svg-header.email:hover, .svg-header.compass:hover, .svg-header.line:hover{
    stroke:#01813F;
    fill:#01813F;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper{
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    box-sizing: border-box;
}

.form-content{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

.wrapper-title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-top: 31px;
    margin-bottom: 13px;
}

.square{
    height: 20px;
    width: 20px;
    background-color:#3CB878;
}

.form-title-text{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-left: 41px;
    margin-right: 216px;
}

.form-link{
    color:#3CB878;
    margin-right: 59px;
}

.form-link:hover{
    text-decoration: underline;
}

.buttons-social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    width: 160px;
    height: 48px;
    cursor: pointer;
}

.button.facebook{
    background-color: #305DB8;
    margin-right: 8px;
    padding-left: 17px;
    padding-right: 22px;
}

.line-fb{
    margin-left: 18px;
    margin-right: 18px;
}

.button.facebook:hover{
    background-color: #022263;
}

.button.google{
    background-color: #DF4A32;
    padding-left: 12px;
    padding-right: 27px;
}

.line-gl{
    margin-left: 7px;
    margin-right: 30px;
}
.button.google:hover{
    background-color: #AB1F09;
}

.horizontal-lines{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 31px;
    margin-bottom: 12px;
}

.text-between-horizontal-line{
    color:#848484;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.field{
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color:#BEBEBE;
}

.field.confirm-pass{
    margin-bottom: 0;
}

.field:focus{
    color: #434343;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
}

.checkbox{
    display: none;
}

.checkbox-field{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #434343;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.checkbox:checked + .custom-checkbox{
    background-image: url('../image/checkbox.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form-link.checkbox-link{
    margin-left: 3px;
}

.button.standard{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}

.button.standard.switch{
    background-color: #01813F;
}

.button.standard.create{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100%;
    margin-bottom: 38px;
}

.button.standard.create:hover{
    background-color: #01813F;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 25px 35px 25px auto;
}


.header-link.new-style:hover{
    color: #EC9704;
}

.svg-header.calendar.new-style:hover, .svg-header.email.new-style:hover,
.svg-header.compass.new-style:hover, .svg-header.line.new-style:hover{
    stroke:#EC9704;
    fill:#EC9704;
}

.form-wrapper.new-style{
    background: #fae68f;
}

.square.new-style{
    background-color:#EC9704;
}

.form-link.new-style{
    color: #EC9704;
}


.button.standard.new-style{
    background-color: #F7C815;
}

.button.standard.switch.new-style{
    background-color: #EC9704;
}

.button.standard.create.new-style:hover {
    background-color: #EC9704;
}

