*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    margin-top: 80px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}

.tabs-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.tabs-content-element{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 200px;
    border: 1px solid #a9a7a6;
    border-radius: 6px;
    display: none;
    padding: 20px;
}

.tabs-content-element.active{
    background-color: #e8c48c;
    display: flex;
    box-shadow: 1px 1px 1px #a18585;
}